code {
    font-family: $font-family-code, Consolas !important;
    border: 1px solid rgb(221,221,221);
    //font-size: 80%;
}

code:not(pre code){;
}

pre {
    //padding: 5px 10px !important;
}
code.hljs {
    background-color: #f5f5f5;
    border: none;
}
