
#page-loader {
    display: none;
}
body.page-loading {

    @include createLoader(page, $page-loader-color, $page-loader-size, $page-loader-margin, $page-loader-speed);

    #page-loader {
        display: block;
    }

    .page-header,
    .page-container,
    .page-footer,
    .preferences,
    > .clearfix {
        display: none;
        transition: all 2s;
    }
}

@mixin makeLoader($name){
    .#{$name}-loader{
        display: none;
    }

    .#{$name}-loading{
        @include createLoader($name, $page-loader-color, $page-loader-size, $page-loader-margin, $page-loader-speed);

        .#{$name}-loader{
            display: block;
        }

        @content
    }
}

@include makeLoader(block){
    .block-loader-content,
    > .clearfix {
        display: none;
        transition: all 2s;
    }
}
