
table.styler-table {

    thead th {
        background-color: #f0f0f0;
        border-bottom: 1px solid #dddddd;
        &.scss-file-name {
            font-weight: bold;
            color: rgb(99, 123, 186);
        }
    }

    .scss-variable-name {
        font-size: 12px;
        font-weight: 300;

        font-family: "Source Code Pro", monospace, serif;
        color: material-color('blue-grey', '500');
    }

    .scss-variable-value {
        padding-top: 4px;
        font-size: 13px;

        &.editable {

        }
        &.editable-click {

        }
    }

    .scss-variable-value.editable-open {

    }

    .editable-container.editable-inline {

    }

}


.sp-container.sp-packadic-styler {
    .sp-palette {
        max-width: 300px; // enlarge the palette area as we add all google material colors into it
    }
}
