.tooltip.tooltip-packadic {
    font-size: 0.8rem;
    .tooltip-inner {
        border: $tooltip-border;
        padding: 1px 8px;
    }
}

@include media-breakpoint-down(md) {
    .tooltip.tooltip-packadic {
        display: none;
    }
}
