//-
    jade-bootstrap
    https://github.com/metalshark/jade-bootstrap
    Copyright (c) 2013 'Metalshark' Beech Horn
    Licensed under the LGPL v3 license.
//- Brings all of the mixin includes together into one file with their helpers
//- Imports
include metalshark/buttons
include metalshark/carousel
include metalshark/code
include metalshark/containers
include metalshark/doctypes
include metalshark/forms
include metalshark/grid-system
include metalshark/helper-classes
include metalshark/images
include metalshark/navbar
include metalshark/navs
include metalshark/responsive-images
include metalshark/responsive-utilities
include metalshark/tables
include metalshark/typography
include metalshark/viewports
//- Helpers
- function _addClass(classes, attributes) {
-     attributes.class = (attributes.class === undefined) ? classes : attributes.class + ' ' + classes
-}
- function _addClassAttribute(name, classes, attributes) {
-     if (attributes[name]) {
-         _addClass(classes, attributes)
-         attributes[name] = null
-     }
- }
- function _unlessClassAttribute(name, classes, attributes) {
-     if (attributes[name]) {
-         attributes[name] = null
-     } else {
-         _addClass(classes, attributes)
-     }
- }


include _mixins

