mixin demo-dropdown-button(text, color, size)
    - color = color || 'btn-primary';
    - size = size || 'xs';
    .btn-group
        button.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', class=color + ' btn-' + size)
            | #{text}&nbsp;
            span.caret
        +dropdown-menu&attributes(attributes)
            block

// DROPDOWN NOTIFICATIONS
mixin _demo-dropdown-notifications
    +dropdown-notification('5 mins', 'bolt', 'danger') Serious error occured
    +dropdown-notification('2 hours', 'info', 'info') Logged something cool
    +dropdown-notification('1 day', 'puzzle-piece', 'warning') Module could not load, please refer to the documentation
    +dropdown-notification('2 days', 'cog', 'primary') A falsis, gabalium gratis burgus.
    +dropdown-notification('3 days', 'list', 'light-green') The heavens of love is full of courage.

mixin demo-dropdown-notifications(scrollHeight)
    if scrollHeight
        ul.scrollable.dropdown-notifications(data-height=scrollHeight)&attributes(attributes)
            +_demo-dropdown-notifications
    else
        +_demo-dropdown-notifications

// DROPDOWN TASKS
mixin _demo-dropdown-tasks
    +dropdown-task("Update progress", 30).progress-bar-warning
    +dropdown-task("User migration", 65).progress-bar-primary
    +dropdown-task("Important process and other stuff", 40).progress-bar-info
    +dropdown-task("New stuff", 85).progress-bar-danger
    +dropdown-task("My progress", 20).progress-bar-primary

mixin demo-dropdown-tasks(scrollHeight)
    if scrollHeight
        ul.scrollable.dropdown-task-list(data-height=scrollHeight)&attributes(attributes)
            +_demo-dropdown-tasks
    else
        +_demo-dropdown-tasks

mixin demo-dropdown-w-header-submenu()
    ul.dropdown-menu.pull-right(role='menu')&attributes(attributes)
        li.header
            h3 Options
        +lia
            i.fa.fa-user
            | First
            span.badge.green 13
        +lia
            i.fa.fa-cog
            | Later
            span.badge.blue 2
        li.submenu
            a(href="#")
                i
                | Submenu 1
            ul.dropdown-menu
                li.header
                    h3 Submenu 1
                +lia First
                +lia Later
                li.submenu
                    a(href="#") Submenu 1.1
                    ul.dropdown-menu
                        +lia First
                        +lia Later
                        li.footer
                            a(href='#') View
                            a(href='#') Cancel
                +lia Last
        li.header
            h3 Extras
        +lia
            i.fa.fa-user
            | Mister
            span.label.red invalid
        +lia
            i.fa.fa-list
            | Alea
            span.label.green valid
        li.submenu
            a(href="#")
                i.fa.fa-puzzle-piece
                | Submenu 2
            ul.dropdown-menu
                li.header
                    h3 Submenu 2
                +lia First
                +lia Later
                li.submenu
                    a(href="#") Submenu 2.2
                    ul.dropdown-menu
                        +lia First
                        +lia Later
                +lia Last
        +lia
            i.fa.fa-bolt
            | Events
            span.badge.orange 3
        li.footer
            a(href='#') View all

mixin demo-dropdown-buttons(size)
    - size = size || 'sm';
    // TASKS
    .btn-group(class='btn-group-' + size)
        button.btn.blue.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            | Tasks Wide&nbsp;
            span.caret
        ul(role="menu").dropdown-menu.dropdown-wide.dropdown-task-list
            li.header
                h3
                    | You have
                    strong &nbsp;3 new&nbsp;
                    | tasks
            +dropdown-task("Update progress", 30).progress-bar-warning
            +dropdown-task("User migration", 65).progress-bar-primary
            +dropdown-task("Important process", 40).progress-bar-info
            +dropdown-task("New stuff", 85).progress-bar-danger
            +dropdown-task("My progress", 20).progress-bar-primary
            li.footer
                a(href='#') View all
                a(href='#') Cancel all
                a(href='#') More
    // TASKS INVERSE
    .btn-group(class='btn-group-' + size)
        button.btn.blue-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            | Tasks Inverse&nbsp;
            span.caret
        ul(role="menu").dropdown-menu.dropdown-menu-inverse.dropdown-task-list
            li.header
                h3
                    | You have
                    strong &nbsp;3 new&nbsp;
                    | tasks
            +dropdown-task("Update progress", 30).progress-bar-warning
            +dropdown-task("User migration", 65).progress-bar-primary
            +dropdown-task("Important process and other stuff", 40).progress-bar-info
            +dropdown-task("New stuff", 85).progress-bar-danger
            +dropdown-task("My progress", 20).progress-bar-primary
            li.footer
                a(href='#') View all
                a(href='#') Cancel all
                a(href='#') More
    // DROPDOWN
    .btn-group(class='btn-group-' + size)
        button.btn.cyan-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            | Dropdown&nbsp;
            span.caret
        ul.dropdown-menu.pull-right(role='menu')
            +lia First
            +lia Later
            +lia Faster
            +lia Mister
            +lia Alea
    // DROPDOWN (header + submenus)
    .btn-group(class='btn-group-' + size)
        button.btn.blue-grey.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            | Advanced Dropdown&nbsp;
            span.caret
        +demo-dropdown-w-header-submenu
    // DROPDOWN inverse (header + submenus)
    .btn-group(class='btn-group-' + size)
        button.btn.green-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            | Advanced Dropdown Inverse&nbsp;
            span.caret
        +demo-dropdown-w-header-submenu.dropdown-menu-inverse
