extends layouts/default

block page-title
    | Bootstrap Components

block breadcrumb
    +breadcrumb('index.html', true) Home

block content
    .row
        .col-md-6.col-lg-4
            .bs-example
                h2 Alerts
                include partials/bs/alerts
        .col-md-6.col-lg-4
            .bs-example
                h2 Buttons
                include partials/bs/buttons
            .bs-example
                h2 Navs
                include partials/bs/navs
        .col-md-6.col-lg-4
            .bs-example
                h2 Buttons
                include partials/bs/pagination
            .bs-example
                h2 Breadcrumbs
                include partials/bs/breadcrumbs
