extends layouts/default


block page-title
    | Document

// block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('code-block.html', true) Code Block

block content
    .row
        .col-md-12#markdown-content!=sources.md('demo')

block append scripts
    +javascript('marked/marked.min', true)


block append script
    script.
        (function () {
            marked.Renderer.prototype.code = function (code, lang, escaped) {
                if ( ! lang ) {
                    return '<pre><code>'
                        + (escaped ? code : escape(code, true))
                        + '\n</code></pre>';
                }

                return "<code-block language='" + lang.replace('js', 'javascript') + "'>" //title='Application.ts' description='The main Application class file'
                    + code
                    + '\n</code-block>\n';
            };
            var renderer = new marked.Renderer();

            var $mdc = $('#markdown-content');
            $mdc.html(marked($mdc.text(), { renderer: renderer }));
            $('.page-title > h1').remove();
            $('.page-title').append( $mdc.find('h1').first() );

            var app = packadic.Application.instance;
            app.mergeData({
                breadcrumbs: {
                    items: [
                        {title: 'Components'},
                        {title: 'Box', href: location.href}
                    ]
                }
            });

        }.call())
