extends layouts/default

mixin layout-action(id, name, js)
    tr
        td.pl.pr: +abtn(id='layout-' + id, data-layout-api=id, primary, xs, block).layout-action-button=name
        td.pl.pr: pre.m-n.p-n: code.lang-javascript.bg-color-grey-50=js ? js : 'app.layout.api("' + id + '")'
        td.pl.pr: pre.m-n.p-n: code.lang-html.bg-color-grey-50='<a href="#" data-layout-api="' + id + '"></a>'

block page-title
    | Layout API


block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('layout-api.html', true) Layout API


block content
    .row
        .col-md-12
            table.table.table-bordered.table-striped.table-hover.table-xs.thead-inverse.table-responsive
                thead: tr
                    th.pl Try it
                    th.pl Javascript API
                    th.pl HTML5 data-toggle
                tbody
                    tr: td(colspan=3) Layout
                    +layout-action('page-boxed', 'Page boxed')
                    +layout-action('page-edged', 'Page edged')
                    +layout-action('header-fixed', 'Header fixed')
                    +layout-action('footer-fixed', 'Footer fixed')
                    +layout-action('sidebar-fixed', 'Sidebar fixed')
                    +layout-action('condensed-sidebar', 'Condensed sidebar')
                    +layout-action('hover-sidebar', 'Hover sidebar')
                    +layout-action('reversed-sidebar', 'Reversed sidebar')
                    +layout-action('close-submenus', 'Close submenus')
                    +layout-action('close-sidebar', 'Close sidebar')
                    +layout-action('open-sidebar', 'Open sidebar')
                    +layout-action('hide-sidebar', 'Hide sidebar')
                    +layout-action('show-sidebar', 'Show sidebar')
                    tr: td(colspan=3) Quick sidebar
                    +layout-action('qs-toggle', 'Toggle quick sidebar')
                    +layout-action('qs-open', 'Open quick sidebar', 'app.layout.api("qs-open", "optional-tab-id")')
                    +layout-action('qs-close', 'Close quick sidebar')
                    +layout-action('qs-pin', 'Pin quick sidebar')
                    +layout-action('qs-unpin', 'Unpin quick sidebar')
                    +layout-action('qs-next', 'Next tab')
                    +layout-action('qs-prev', 'Previous tab')



append styles
    link(href=assetPath + 'bower_components/highlightjs/styles/tomorrow.css', type="text/css", rel="stylesheet")

append scripts
    script(src=assetPath + 'bower_components/highlightjs/highlight.pack.min.js')

append init-script
    script.
        packadic.Application.instance.booted(function(app){

            hljs.initHighlighting();

        });
