extends layouts/default

mixin demo-dropdown-button(id, text, color, size)
    - color = color || 'btn-primary';
    - size = size || 'xs';
    .dropdown.open
        button.btn.dropdown-toggle(type='button', id=id data-toggle='dropdown', aria-expanded='false', aria-haspopup="true", class=color + ' btn-' + size)
            | #{text}&nbsp;
            span.caret
        .dropdown-menu.dropdown-menu-packadic(aria-labelledby=id)
            block

mixin demo-dropdown-advanced-items
    h6.header Options
    a.dropdown-item
        i.fa.fa-user
        | First
        span.badge 13
    a.dropdown-item
        i.fa.fa-cog
        | Later
        span.badge 2
    .dropdown-submenu
        a(href="#")
            i
            | Submenu 1
        ul.dropdown-menu
            li.header
                h3 Submenu 1
            +lia First
            +lia Later
            li.submenu
                a(href="#") Submenu 1.1
                ul.dropdown-menu
                    +lia First
                    +lia Later
                    li.footer
                        a(href='#') View
                        a(href='#') Cancel
            +lia Last
    li.header
        h3 Extras
    +lia
        i.fa.fa-user
        | Mister
        span.label.label-danger err
    +lia
        i.fa.fa-list
        | Alea
        span.label.label-success valid
    li.submenu
        a(href="#")
            i.fa.fa-puzzle-piece
            | Submenu 2
        ul.dropdown-menu
            li.header
                h3 Submenu 2
            +lia First
            +lia Later
            li.submenu
                a(href="#") Submenu 2.2
                ul.dropdown-menu
                    +lia First
                    +lia Later
            +lia Last
    +lia
        i.fa.fa-bolt
        | Events
        span.badge 3
    li.footer
        a(href='#') View all


block page-title
    | Menus


block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('menus.html', true) Menus


block prepend page-container



block content
    .row
        .col-md-12
            h4 Menus
                small.pl Using $ pmenu widget
    .row
        .col-md-12
            #pmenu-example
        .col-md-12.hidden
            +demo-dropdown-button('test-dd-1', 'Test dropdown')
                h6.dropdown-header Dropdown header
                a(href="#").dropdown-item Action
                a(href="#").dropdown-item Another action
                .dropdown-submenu
                    a(href="#").dropdown-item Sub menu
                    .dropdown-menu
                        a(href="#").dropdown-item Action
                        a(href="#").dropdown-item Another action
                a(href="#").dropdown-item Something else here
                .dropdown-divider
                a(href="#").dropdown-item Seperated link
                a(href="#").dropdown-item.disabled Disabled link
                a(href="#").dropdown-item Another seperated link
                .dropdown-footer
                    a(href='#') View
                    a(href='#') Cancel
                    a(href='#') Other


append init-script
