extends layouts/default

mixin demo-table(thead)
    table.table&attributes(attributes)
        thead(class=thead ? 'thead-' + thead : '')
            tr
                th #
                th First Name
                th Last Name
                th Username
        tbody
            tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
            tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter

mixin nav-item(targetId, disabled)
    li.nav-item(class=disabled? 'disabled':'')
        a.nav-link(href='#' + targetId, role='tab', data-toggle='tab', aria-expanded='false', class=disabled? 'disabled':'')&attributes(attributes)
            block

mixin content-tab(id, active, fades)
    - fades = fades || true;
    div(id=id, role='tabpanel', class=(fades? ' fade' : '') + (fades && active ? ' in' : '') + (active ? ' active': '')).tab-pane&attributes(attributes)
        block

mixin nav-tabs
    ul.nav.nav-tabs(role='tablist')&attributes(attributes)
        block

mixin demo-nav-tabs(below)
    - below = below || false;
    - var idPrefix = getRandomId();
    .tabbable&attributes(attributes)
        if ! below
            +nav-tabs
                +nav-item(idPrefix + '-tab-home').active
                    i.text-blue.tab-icon.fa.fa-key
                    |  Active
                +nav-item(idPrefix + '-tab-profile')
                    i.text-purple.tab-icon.fa.fa-cog
                    |  Link
                +nav-item(idPrefix + '-tab-disabled', true)
                    i.text-red.tab-icon.fa.fa-times
                    |  Disabled
        .tab-content
            +content-tab(idPrefix + '-tab-home', true)
                p Accolas favere! Per guest prepare one cup of olive oil with crushed melon for dessert.
                p Fugas messis, tanquam camerarius cotta. The bright love of history is to know with ascension.
            +content-tab(idPrefix + '-tab-profile')
                p The pin desires with halitosis, fight the fortress. To some, a teacher is a dogma for rejecting.
                p Pol, vortex! Countless space suits discover modern, ordinary ships.
        if below
            +nav-tabs
                +nav-item(idPrefix + '-tab-home').active
                    i.text-blue.tab-icon.fa.fa-key
                    |  Active
                +nav-item(idPrefix + '-tab-profile')
                    i.text-purple.tab-icon.fa.fa-cog
                    |  Link
                +nav-item(idPrefix + '-tab-disabled', true)
                    i.text-red.tab-icon.fa.fa-times
                    |  Disabled

mixin progress-bars-demo(title)
    .col-md-4
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
        +progressbar(0, 355, 226)('success', 'striped', 'active')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
        +progressbar(0, 44, 15, 'center')('warning')
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
        +progressbar(0, 355, 226)('danger')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
        +progressbar(0, 44, 15, 'center')
    .col-md-4
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
        +progressbar(0, 355, 226)('success', 'striped', 'active')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
        +progressbar(0, 44, 15, 'center')('warning')
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
        +progressbar(0, 355, 226)('danger')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
        +progressbar(0, 44, 15, 'center')
    .col-md-4
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
        +progressbar(0, 355, 226)('success', 'striped', 'active')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
        +progressbar(0, 44, 15, 'center')('warning')
        +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
        +progressbar(0, 355, 226)('danger')
        +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
        +progressbar(0, 44, 15, 'center')

block vars
    - pageHeadClass += ' page-head-compact'
block page-title
    | Navs

// block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('code-block.html', true) Code Block

block content
    .row
        .col-md-6
            h3 Tabs
            +demo-nav-tabs.mb
            h3 Tabs left
            +demo-nav-tabs.tabs-left.mb
            h3 Tabs right
            +demo-nav-tabs.tabs-right.mb
            h3 Tabs below
            +demo-nav-tabs(true).tabs-below.mb
        .col-md-6
            .row
                +progress-bars-demo("Progress bars")

            .row
                +progress-bars-demo("BS Materials bars").bs-material

block append script
    script.
        (function () {
            var app = packadic.Application.instance;
            app.mergeData({
                breadcrumbs: {
                    items: [
                        {title: 'Components'},
                        {title: 'Navs', href: location.href}
                    ]
                }
            });

            $(function(){
                //$('progress').progressbar()
            });

        }.call())
