extends layouts/default

mixin demo-table(thead)
    table.table&attributes(attributes)
        thead(class=thead ? 'thead-' + thead : '')
            tr
                th #
                th First Name
                th Last Name
                th Username
        tbody
            tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
            tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter


block page-title
    | Tables

// block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('code-block.html', true) Code Block

block content
    .row
        .col-md-6
            h3 Basic
            +demo-table
            h3 Thead inverse
            +demo-table('inverse')
            h3 Thead default
            +demo-table('default')
            h3 Inverse
            +demo-table.table-inverse
        .col-md-6
            h3 Packadic
            +demo-table.table-packadic
            h3 Packadic + Hover
            +demo-table.table-packadic
            h3 Packadic + Bordered + Condensed
            +demo-table.table-packadic.table-bordered.table-sm

block append script
    script.
        (function () {
            var app = packadic.Application.instance;
            app.mergeData({
                breadcrumbs: {
                    items: [
                        {title: 'Components'},
                        {title: 'Tables', href: location.href}
                    ]
                }
            });

        }.call())
