<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Part of the Codex Project packages.
  ~
  ~ License and copyright information bundled with this package in the LICENSE file.
  ~
  ~ @author Robin Radic
  ~ @copyright Copyright 2016 (c) Codex Project
  ~ @license http://codex-project.ninja/license The MIT License
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Sebwite Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
