@charset "UTF-8";
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* Carousel base class */
.carousel.carousel-codex .carousel-inner {
  height: 100%;
}

.carousel.carousel-codex .carousel-item {
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.carousel.carousel-codex .carousel-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 20%;
  z-index: 10;
  width: 80%;
  padding: 20px;
}

.carousel.carousel-codex .carousel-caption, .carousel.carousel-codex .carousel-caption p {
  font-size: 2.2rem;
}

.carousel.carousel-codex .carousel-control.bottom {
  position: relative;
  bottom: 90px;
  display: block;
  top: initial;
  text-align: center;
  color: white;
  font-size: 70px;
  z-index: 2;
  margin: 0 auto;
}

.carousel.carousel-codex .carousel-control .icon-bottom {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  font-family: serif;
  line-height: 1;
}

.carousel.carousel-codex .carousel-control .icon-bottom:before {
  content: "";
}

@media (min-width: 1200px) {
  .carousel.carousel-codex .carousel-caption {
    left: 20%;
    right: 20%;
    width: 60%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-welcome .c-section > .container > header hr, .page-welcome .c-footer > .container > header hr, .page-welcome .c-section .section-title-divider, .page-welcome .c-footer .section-title-divider {
  width: 120px;
  border: 1px dashed #000000;
}

.page-welcome .c-section .section-title, .page-welcome .c-footer .section-title {
  text-align: center;
  margin-top: 0;
}

.page-welcome .c-section .section-title:after, .page-welcome .c-footer .section-title:after {
  content: '.';
  font-weight: bold;
  color: #ed6626;
  margin-left: 2px;
}

.page-welcome .c-header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(38, 50, 56, 0.7);
}

.page-welcome .c-page {
  padding: 0;
}

.page-welcome .c-page h2:not(.featurette-heading) {
  font-weight: normal;
  margin-top: 1.5rem;
}

.page-welcome .c-page .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.page-welcome .c-page .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.page-welcome .c-section > .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-welcome .c-section > header,
.page-welcome .c-section > .container > header {
  margin-bottom: 5rem;
}

.page-welcome .c-section .section-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

.page-welcome .c-section.c-section-light {
  background: #ffffff;
  color: #455a64;
}

.page-welcome .c-section.c-section-light > .container > header hr,
.page-welcome .c-section.c-section-light .section-title-divider {
  border-color: #455a64;
}

.page-welcome .c-section.c-section-light .section-title {
  color: #455a64;
}

.page-welcome .c-section.c-section-light .section-divider {
  border-top: inset #455a64;
}

.page-welcome .c-section.c-section-dark {
  background: #37474f;
  color: #b0bec5;
}

.page-welcome .c-section.c-section-dark > .container > header hr,
.page-welcome .c-section.c-section-dark .section-title-divider {
  border-color: #b0bec5;
}

.page-welcome .c-section.c-section-dark .section-title {
  color: #b0bec5;
}

.page-welcome .c-section.c-section-dark .section-divider {
  border-top: inset #b0bec5;
}

.page-welcome .c-footer {
  height: auto;
  padding-top: 30px;
  background: #263238;
  color: #b0bec5;
}

.page-welcome .c-footer > .container > header hr,
.page-welcome .c-footer .section-title-divider {
  border-color: #b0bec5;
}

.page-welcome .c-footer .section-title {
  color: #b0bec5;
}

.page-welcome .c-footer .section-divider {
  border-top: inset #b0bec5;
}

.page-welcome .c-footer .section-title {
  text-align: left;
}

.page-welcome .c-footer .section-title-divider {
  width: 100%;
  border-top: none;
}

.page-welcome .c-footer p {
  font-size: 1rem;
}

.page-welcome .c-footer .copyright {
  margin-top: 20px;
  background-color: #1e282d;
}

.page-welcome .c-footer .copyright p {
  margin: 0;
  padding: 3px 20px;
  font-size: 0.8rem;
}

.page-welcome .feature-column .feature-heading {
  margin-top: 10px;
}

.page-welcome .feature-column .feature-image {
  height: 140px;
  width: 140px;
}

.page-welcome .feature-row .feature-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.page-welcome .feature-row .feature-image {
  border: 1px dashed #b0bec5;
}

.page-welcome .feature-row .carousel-codex .carousel-item {
  background-position: top left;
}

.page-welcome .feature-row .carousel-codex .carousel-caption {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  padding: 5px;
  text-align: left;
}

.page-welcome .feature-row .carousel-codex .carousel-caption p {
  font-size: 1rem;
  margin: 0;
}

.page-welcome .feature-row .carousel-codex .carousel-indicators {
  bottom: -45px;
}

.page-welcome .feature-row .carousel-codex .carousel-indicators li {
  border-color: #607d8b;
  background-color: #263238;
}

.page-welcome .feature-row .carousel-codex .carousel-indicators li.active {
  background-color: #ed6626;
}

.page-welcome .feature-row .carousel-codex .carousel-indicators li, .page-welcome .feature-row .carousel-codex .carousel-indicators li.active {
  border-radius: 20%;
  width: 20px;
  height: 20px;
  margin: 1px 5px;
}

.page-welcome .nav-header .nav-item {
  display: inline-block;
}

.page-welcome .nav-header .nav-item + .nav-item,
.page-welcome .nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

.page-welcome .nav-header .nav-link {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background: none;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  height: 50px;
  font-weight: 300;
  margin-left: 0 !important;
  background: rgba(120, 144, 156, 0.28);
  color: #eceff1;
  line-height: 35px;
}

.page-welcome .nav-header .nav-link:focus, .page-welcome .nav-header .nav-link.focus, .page-welcome .nav-header .nav-link:active:focus, .page-welcome .nav-header .nav-link:active.focus, .page-welcome .nav-header .nav-link.active:focus, .page-welcome .nav-header .nav-link.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.page-welcome .nav-header .nav-link:focus, .page-welcome .nav-header .nav-link:hover {
  text-decoration: none;
}

.page-welcome .nav-header .nav-link.focus {
  text-decoration: none;
}

.page-welcome .nav-header .nav-link:active, .page-welcome .nav-header .nav-link.active {
  background-image: none;
  outline: 0;
}

.page-welcome .nav-header .nav-link.disabled, .page-welcome .nav-header .nav-link:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.page-welcome .nav-header .nav-link:hover, .page-welcome .nav-header .nav-link:focus {
  box-shadow: none;
}

.page-welcome .nav-header .nav-link.active {
  color: #ed6626;
}

.page-welcome .nav-header .nav-link-highlight {
  color: #54b7e8;
  font-size: 0.7rem;
  text-transform: uppercase;
  display: block;
  float: right;
  padding: 1px;
  font-family: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.page-welcome .awesome {
  text-align: center;
}

.page-welcome .awesome-title {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 3rem;
  font-family: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.page-welcome .awesome-divider {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 1px;
  width: 200px;
  margin: 10px auto;
  background-color: #b0bec5;
}

.page-welcome .awesome-text {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /*font-size: 1rem;*/
}

.page-welcome .btn-big {
  display: block;
  height: 100px;
  width: 100%;
  padding-top: 30px;
  font-size: 30px;
}

.page-welcome .nav-footer {
  padding: 0 0 0 20px;
}

.page-welcome .nav-footer .nav-item {
  padding: 3px 25px 3px 5px;
}

.page-welcome .nav-footer .nav-item:before {
  content: '\25A0';
  line-height: 19px;
  position: absolute;
  left: 20px;
  font-size: 14px;
  color: #56565f;
}

.page-welcome .nav-footer .nav-item:hover:before {
  color: #ed6626;
}

.page-welcome .nav-footer .nav-link {
  display: block;
  color: #b0bec5;
}

.page-welcome .nav-footer.nav-footer-right .nav-item:before {
  right: 20px;
  left: auto;
}

.page-welcome .nav-footer.nav-footer-right .nav-link {
  text-align: right;
}

.page-welcome .nav-footer-social .nav-item {
  display: block;
  width: 4rem;
  margin: 6px;
  float: left;
}

.page-welcome .nav-footer-social .nav-link {
  display: block;
  text-align: center;
  padding: 1rem 0;
  background-color: #56565f;
}

.page-welcome .nav-footer-social .nav-link:hover {
  background-color: #3e3e44;
}

.page-welcome .nav-footer-social i {
  font-size: 2rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.45);
}

.page-welcome .nav-footer-social:after {
  clear: left;
}

.page-welcome .carousel.carousel-codex .carousel-item.slide-html {
  background-image: url("/assets/img/slides/slide-html-576.png");
}

@media (min-width: 576px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-html {
    background-image: url("/assets/img/slides/slide-html-768.png");
  }
}

@media (min-width: 768px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-html {
    background-image: url("/assets/img/slides/slide-html-922.png");
  }
}

@media (min-width: 992px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-html {
    background-image: url("/assets/img/slides/slide-html-1200.png");
  }
}

@media (min-width: 1200px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-html {
    background-image: url("/assets/img/slides/slide-html-2000.png");
  }
}

.page-welcome .carousel.carousel-codex .carousel-item.slide-typewriter {
  background-image: url("/assets/img/slides/slide-typewriter-576.jpg");
}

@media (min-width: 576px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-typewriter {
    background-image: url("/assets/img/slides/slide-typewriter-768.jpg");
  }
}

@media (min-width: 768px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-typewriter {
    background-image: url("/assets/img/slides/slide-typewriter-922.jpg");
  }
}

@media (min-width: 992px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-typewriter {
    background-image: url("/assets/img/slides/slide-typewriter-1200.jpg");
  }
}

@media (min-width: 1200px) {
  .page-welcome .carousel.carousel-codex .carousel-item.slide-typewriter {
    background-image: url("/assets/img/slides/slide-typewriter-2000.jpg");
  }
}
