h4 Base nav

ul.nav
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

nav.nav
    a.nav-link.active(href='#') Active
    a.nav-link(href='#') Link
    a.nav-link(href='#') Another link
    a.nav-link.disabled(href='#') Disabled

h4 Tabs

ul.nav.nav-tabs
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

h4 Pills

ul.nav.nav-pills
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

h4 Stacked pills

ul.nav.nav-pills.nav-stacked
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

h4 Using dropdowns

h3 Tabs with dropdowns

ul.nav.nav-tabs
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
        .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

h3 Pills with dropdowns

ul.nav.nav-pills
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
        .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
    li.nav-item
        a.nav-link(href='#') Another link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled

