.bs-docs-section.clearfix
    .row
        .col-lg-12
            .page-header
                h1 Navbar
            .bs-component
                .navbar.navbar-default
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='javascript:void(0)') Brand
                    .navbar-collapse.collapse.navbar-responsive-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='javascript:void(0)') Active
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li.dropdown-header Dropdown header
                                    li
                                        a(href='javascript:void(0)') Separated link
                                    li
                                        a(href='javascript:void(0)') One more separated link
                        form.navbar-form.navbar-left
                            input.form-control.col-lg-8(type='text', placeholder='Search')
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li
                                        a(href='javascript:void(0)') Separated link
            .bs-component
                .navbar.navbar-warning
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-warning-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='javascript:void(0)') Brand
                    .navbar-collapse.collapse.navbar-warning-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='javascript:void(0)') Active
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li.dropdown-header Dropdown header
                                    li
                                        a(href='javascript:void(0)') Separated link
                                    li
                                        a(href='javascript:void(0)') One more separated link
                        form.navbar-form.navbar-left
                            input.form-control.col-lg-8(type='text', placeholder='Search')
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li
                                        a(href='javascript:void(0)') Separated link
            // /example
            .bs-component
                .navbar.navbar-inverse
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='javascript:void(0)') Brand
                    .navbar-collapse.collapse.navbar-inverse-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='javascript:void(0)') Active
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li.dropdown-header Dropdown header
                                    li
                                        a(href='javascript:void(0)') Separated link
                                    li
                                        a(href='javascript:void(0)') One more separated link
                        form.navbar-form.navbar-left
                            input.form-control.col-lg-8(type='text', placeholder='Search')
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='javascript:void(0)') Link
                            li.dropdown
                                a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                    | Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='javascript:void(0)') Action
                                    li
                                        a(href='javascript:void(0)') Another action
                                    li
                                        a(href='javascript:void(0)') Something else here
                                    li.divider
                                    li
                                        a(href='javascript:void(0)') Separated link
            // /example
//
  Buttons
  ==================================================
.bs-docs-section.clearfix
    .page-header
        .row
            .col-lg-12
                h1 Buttons
    .row
        .col-lg-6
            h3 Default buttons
            p.bs-component
                a.btn.btn-default(href='javascript:void(0)') Default
                a.btn.btn-primary(href='javascript:void(0)') Primary
                a.btn.btn-success(href='javascript:void(0)') Success
                a.btn.btn-info(href='javascript:void(0)') Info
                a.btn.btn-warning(href='javascript:void(0)') Warning
                a.btn.btn-danger(href='javascript:void(0)') Danger
                a.btn.btn-link(href='javascript:void(0)') Link
            h3 Flat buttons
            p.bs-component
                a.btn.btn-flat.btn-default(href='javascript:void(0)') Default
                a.btn.btn-flat.btn-primary(href='javascript:void(0)') Primary
                a.btn.btn-flat.btn-success(href='javascript:void(0)') Success
                a.btn.btn-flat.btn-info(href='javascript:void(0)') Info
                a.btn.btn-flat.btn-warning(href='javascript:void(0)') Warning
                a.btn.btn-flat.btn-danger(href='javascript:void(0)') Danger
                a.btn.btn-flat.btn-link(href='javascript:void(0)') Link
            h3 Raised buttons
            p.bs-component
                a.btn.btn-default.btn-raised(href='javascript:void(0)') Default
                a.btn.btn-primary.btn-raised(href='javascript:void(0)') Primary
                a.btn.btn-success.btn-raised(href='javascript:void(0)') Success
                a.btn.btn-info.btn-raised(href='javascript:void(0)') Info
                a.btn.btn-warning.btn-raised(href='javascript:void(0)') Warning
                a.btn.btn-danger.btn-raised(href='javascript:void(0)') Danger
            h3 Disabled buttons
            p.bs-component
                a.btn.btn-default.disabled(href='javascript:void(0)') Default
                a.btn.btn-primary.disabled(href='javascript:void(0)') Primary
                a.btn.btn-success.disabled(href='javascript:void(0)') Success
                a.btn.btn-info.disabled(href='javascript:void(0)') Info
                a.btn.btn-warning.disabled(href='javascript:void(0)') Warning
                a.btn.btn-danger.disabled(href='javascript:void(0)') Danger
                a.btn.btn-link.disabled(href='javascript:void(0)') Link
            h3 Button groups
            div(style='margin-bottom: 15px;')
                .btn-toolbar.bs-component(style='margin: 0;')
                    .btn-group
                        a.btn.btn-default(href='javascript:void(0)') Default
                        a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
                    .btn-group
                        a.btn.btn-primary(href='javascript:void(0)') Primary
                        a.btn.btn-primary.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
                    .btn-group
                        a.btn.btn-success(href='javascript:void(0)') Success
                        a.btn.btn-success.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
                    .btn-group
                        a.btn.btn-info(href='javascript:void(0)') Info
                        a.btn.btn-info.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
                    .btn-group
                        a.btn.btn-warning(href='javascript:void(0)') Warning
                        a.btn.btn-warning.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
                    .btn-group
                        a.btn.btn-danger(href='javascript:void(0)') Danger
                        a.btn.btn-danger.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:void(0)') Action
                            li
                                a(href='javascript:void(0)') Another action
                            li
                                a(href='javascript:void(0)') Something else here
                            li.divider
                            li
                                a(href='javascript:void(0)') Separated link
            h3 Button sizes
            p.bs-component
                a.btn.btn-primary.btn-lg(href='javascript:void(0)') Large button
                a.btn.btn-primary(href='javascript:void(0)') Default button
                a.btn.btn-primary.btn-sm(href='javascript:void(0)') Small button
                a.btn.btn-primary.btn-xs(href='javascript:void(0)') Mini button
            h3 Floating action buttons
            p.bs-component
                a.btn.btn-default.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
                a.btn.btn-primary.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
                a.btn.btn-success.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
                a.btn.btn-info.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
                a.btn.btn-warning.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
                a.btn.btn-danger.btn-fab.btn-raised.mdi-action-grade(href='javascript:void(0)')
        .col-lg-6
            p.bs-component
                a.btn.btn-default.btn-lg.btn-block(href='javascript:void(0)') Block level button
            .bs-component(style='margin-bottom: 15px;')
                .btn-group.btn-group-justified
                    a.btn.btn-default(href='javascript:void(0)') Left
                    a.btn.btn-default(href='javascript:void(0)') Middle
                    a.btn.btn-default(href='javascript:void(0)') Right
            .bs-component(style='margin-bottom: 15px;')
                .btn-toolbar
                    .btn-group
                        a.btn.btn-default(href='javascript:void(0)') 1
                        a.btn.btn-default(href='javascript:void(0)') 2
                        a.btn.btn-default(href='javascript:void(0)') 3
                        a.btn.btn-default(href='javascript:void(0)') 4
                    .btn-group
                        a.btn.btn-default(href='javascript:void(0)') 5
                        a.btn.btn-default(href='javascript:void(0)') 6
                        a.btn.btn-default(href='javascript:void(0)') 7
                    .btn-group
                        a.btn.btn-default(href='javascript:void(0)') 8
                        .btn-group
                            a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                | Dropdown
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='javascript:void(0)') Dropdown link
                                li
                                    a(href='javascript:void(0)') Dropdown link
                                li
                                    a(href='javascript:void(0)') Dropdown link
            .bs-component
                .btn-group-vertical
                    a.btn.btn-default(href='javascript:void(0)') Button
                    a.btn.btn-default(href='javascript:void(0)') Button
                    a.btn.btn-default(href='javascript:void(0)') Button
                    a.btn.btn-default(href='javascript:void(0)') Button
//
  Typography
  ==================================================
.bs-docs-section.clearfix
    .row
        .col-lg-12
            .page-header
                h1 Typography
    // Headings
    .row
        .col-lg-4
            .bs-component
                h1 Heading 1
                h2 Heading 2
                h3 Heading 3
                h4 Heading 4
                h5 Heading 5
                h6 Heading 6
                p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        .col-lg-4
            .bs-component
                h2 Example body text
                p
                    | Nullam quis risus eget
                    a(href='javascript:void(0)') urna mollis ornare
                    |  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                p
                    small This line of text is meant to be treated as fine print.
                p
                    | The following snippet of text is
                    strong rendered as bold text
                    | .
                p
                    | The following snippet of text is
                    em rendered as italicized text
                    | .
                p
                    | An abbreviation of the word attribute is
                    abbr(title='attribute') attr
                    | .
        .col-lg-4
            .bs-component
                h2 Emphasis classes
                p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
                p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
                p.text-warning Etiam porta sem malesuada magna mollis euismod.
                p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
                p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
    // Blockquotes
    .row
        .col-lg-12
            h2#type-blockquotes Blockquotes
    .row
        .col-lg-6
            .bs-component
                blockquote
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    small
                        | Someone famous in
                        cite(title='Source Title') Source Title
        .col-lg-6
            .bs-component
                blockquote.pull-right
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    small
                        | Someone famous in
                        cite(title='Source Title') Source Title
