
nav.c-mega-menu.c-pull-right.c-mega-menu-dark.c-mega-menu-dark-mobile.c-fonts-uppercase.c-fonts-bold
    ul.nav.navbar-nav.c-theme-nav
        li.c-menu-type-classic
            a.c-link.dropdown-toggle(href='#') Home
            ul.dropdown-menu.c-menu-type-classic.c-pull-left
                li
                    a(href='index.html') Home Version 1
                li
                    a(href='home-2.html') Home Version 2
                li
                    a(href='home-3.html') Home Version 3
                li
                    a(href='home-4.html') Home Version 4
                li
                    a(href='home-5.html') Home Version 5
                li
                    a(href='home-6.html') Home Version 6
                li
                    a(href='home-7.html') Home Version 7
                li
                    a(href='home-8.html') Home Version 8
                li
                    a(href='home-9.html') Home Version 9
                li
                    a(href='home-10.html') Home Version 10
        li.c-active.c-menu-type-classic
            a.c-link.dropdown-toggle(href='') Features
            ul.dropdown-menu.c-menu-type-classic.c-pull-left
                li.dropdown-submenu
                    a(href='#') Headers
                    ul.dropdown-menu.c-pull-right
                        li
                            a(href='home-header-1.html') Home Header v1
                        li
                            a(href='home-header-1-ext.html') Home Header v1 - Extended
                        li
                            a(href='home-header-2.html') Home Header v2
                        li
                            a(href='home-header-2-ext.html') Home Header v2 - Extended
                        li
                            a(href='home-header-3.html') Home Header v3
                        li
                            a(href='home-header-4.html') Home Header v4
                        li
                            a(href='home-header-4-ext.html') Home Header v4 - Extended
                        li
                            a(href='home-header-5.html') Home Header v5
                        li
                            a(href='home-header-5-ext.html') Home Header v5 - Extended
                        li
                            a(href='home-header-6.html') Home Header v6
                        li
                            a(href='home-header-6-ext.html') Home Header v6 - Extended
                        li
                            a(href='home-header-7.html') Home Header v7
                        li
                            a(href='home-header-8.html') Home Header v8
                        li
                            a(href='inner-header-1.html') Inner Header v1
                        li
                            a(href='inner-header-1-ext.html') Inner Header v1 - Extended
                        li
                            a(href='inner-header-2.html') Inner Header v2
                        li
                            a(href='inner-header-2-ext.html') Inner Header v2 - Extended
                        li
                            a(href='inner-header-3.html') Inner Header v3
                        li
                            a(href='inner-header-4.html') Inner Header v4
                        li
                            a(href='inner-header-5.html') Inner Header v5
                li.dropdown-submenu
                    a(href='#') Footers
                    ul.dropdown-menu.c-pull-right
                        li
                            a(href='footer-ext-1.html#footer') Footer - Extended v1
                        li
                            a(href='footer-ext-2.html#footer') Footer - Extended v2
                        li
                            a(href='footer-ext-3.html#footer') Footer - Extended v3
                        li
                            a(href='footer-default.html#footer') Footer - Contact Form
                        li
                            a(href='footer-compact.html#footer') Footer - Compact
                li.dropdown-submenu
                    a(href='#') Breadcrumbs
                    ul.dropdown-menu.c-pull-right
                        li
                            a(href='breadcrumbs-default.html') Breadcrumbs - Default
                        li
                            a(href='breadcrumbs-subtitle.html') Breadcrumbs - Sub Title
                        li
                            a(href='breadcrumbs-bgimage-1.html') Breadcrumbs - Bg Image V1
                        li
                            a(href='breadcrumbs-bgimage-2.html') Breadcrumbs - Bg Image V2
                        li
                            a(href='breadcrumbs-bgimage-3.html') Breadcrumbs - Bg Image V3
                        li
                            a(href='breadcrumbs-bgimage-4.html') Breadcrumbs - Bg Image V4
                        li
                            a(href='breadcrumbs-bgimage-5.html') Breadcrumbs - Bg Image V5
                        li
                            a(href='breadcrumbs-bgimage-6.html') Breadcrumbs - Bg Image V6
                        li
                            a(href='breadcrumbs-bgimage-7.html') Breadcrumbs - Bg Image V7
                        li
                            a(href='breadcrumbs-bgimage-8.html') Breadcrumbs - Bg Image V8
                        li
                            a(href='breadcrumbs-bgimage-9.html') Breadcrumbs - Bg Image V9
                        li
                            a(href='breadcrumbs-bgimage-10.html') Breadcrumbs - Bg Image V10
                li.dropdown-submenu.c-active
                    a(href='#') Mega Menu
                    ul.dropdown-menu.c-pull-right
                        li
                            a(href='megamenu-extended.html') Mega Menu - Extended
                        li
                            a(href='megamenu-light.html') Mega Menu - Light
                        li.c-active
                            a(href='megamenu-dark.html') Mega Menu - Dark
                li.dropdown-submenu
                    a(href='page-extended-portfolio.html') Multi Level Menu
                    ul.dropdown-menu.c-pull-right
                        li
                            a(href='#') Example Link
                        li
                            a(href='#') Example Link
                        li
                            a(href='#') Example Link
                        li.dropdown-submenu
                            a(href='#') Example Sub Menu
                            ul.dropdown-menu.c-pull-left
                                li
                                    a(href='#') Example Link
                                li
                                    a(href='#') Example Link
                                li
                                    a(href='#') Example Link
                                li.dropdown-submenu
                                    a(href='#') Example Sub Menu
                                    ul.dropdown-menu.c-pull-left
                                        li
                                            a(href='#') Example Link
                                        li
                                            a(href='#') Example Link
                                        li
                                            a(href='#') Example Link
                                        li
                                            a(href='#') Example Link
                                li
                                    a(href='#') Example Link
                        li
                            a(href='#') Example Link
                        li
                            a(href='#') Example Link
        li
            a.c-link.dropdown-toggle(href='#') Pages
            ul.dropdown-menu.c-menu-type-mega.c-menu-type-fullwidth(style='min-width: auto')
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            h3 Page Samples 1
                        li
                            a(href='page-about-1.html') About Us 1
                        li
                            a(href='page-about-2.html') About Us 2
                        li
                            a(href='page-contact-1.html') Contact Us 1
                        li
                            a(href='page-contact-2.html') Contact Us 2
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            h3 Page Samples 2
                        li
                            a(href='page-contact-3.html') Contact Us 3
                        li
                            a(href='page-team.html') Meet The Team
                        li
                            a(href='page-product-launch.html') Product Launch
                        li
                            a(href='page-faq.html') FAQ
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            h3 Gallery Pages
                        li
                            a(href='page-lightbox-gallery.html') Lightbox Gallery
                        li
                            a(href='page-fullwidth-gallery.html') Full Width Gallery
                        li
                            a(href='page-masonry-gallery.html') Masonry Gallery
                        li
                            a(href='page-index-gallery.html') Gallery Index
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            h3 Blog Pages
                        li
                            a(href='page-blog-list.html') Blog List View
                        li
                            a(href='page-blog-grid.html') Blog Grid View
                        li
                            a(href='page-blog-post.html') Blog Single Post
        li.c-menu-type-classic
            a.c-link.dropdown-toggle(href='#') Portfolio
            ul.dropdown-menu.c-menu-type-classic.c-pull-left
                li
                    a(href='page-4col-portfolio.html') 4 Columns Portfolio
                li
                    a(href='page-2col-portfolio.html') 2 Columns Portfolio
                li
                    a(href='page-masonry-portfolio.html') Masonry Portfolio
                li
                    a(href='page-extended-portfolio.html') Extended Portfolio
        li
            a.c-link.dropdown-toggle(href='#') Components
            ul.dropdown-menu.c-menu-type-mega.c-menu-type-fullwidth(style='min-width: auto')
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            a(href='component-tabbed-contents.html') Tabbed Contents
                        li
                            a(href='component-features-1.html') Feature Blocks 1
                        li
                            a(href='component-features-2.html') Feature Blocks 2
                        li
                            a(href='component-features-3.html') Feature Blocks 3
                        li
                            a(href='component-latest-works.html') Latest Works
                        li
                            a(href='component-abouts.html') Abouts
                        li
                            a(href='component-services.html') Services
                        li
                            a(href='component-latest-items.html') Latest Items
                        li
                            a(href='component-blog-elements.html') Blog Elements
                        li
                            a(href='component-counters.html') Counters
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            a(href='component-pricing-tables-1.html') Pricing Tables 1
                        li
                            a(href='component-pricing-tables-2.html') Pricing Tables 2
                        li
                            a(href='component-bars.html') Engage Bars
                        li
                            a(href='component-testimonials.html') Testimonials
                        li
                            a(href='component-clients.html') Clients
                        li
                            a(href='component-steps.html') Steps
                        li
                            a(href='component-team.html') Team
                        li
                            a(href='component-headings.html') Headings
                        li
                            a(href='component-dividers.html') Dividers
                        li
                            a(href='component-accordions.html') Accordion Contents
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            a(href='component-lists.html') Lists
                        li
                            a(href='component-blockquotes.html') Blockquotes
                        li
                            a(href='component-navs.html') Navigations
                        li
                            a(href='component-fontawesome-icons.html') Fontawesome Icons
                        li
                            a(href='component-simpleline-icons.html') Simple Line Icons
                        li
                            a(href='component-glyphicons-icons.html') Glyphicons Icons
                        li
                            a(href='component-custom-icons.html') Custom Icons
                        li
                            a(href='component-social-icons.html') Social Icons
                        li
                            a(href='component-media-embeds.html') Media Embeds
                        li
                            a(href='component-labels-badges.html') Labels & Badges
                li
                    ul.dropdown-menu.c-menu-type-inline
                        li
                            a(href='component-colors.html') UI Colors
                        li
                            a(href='component-buttons.html') Buttons
                        li
                            a(href='component-form-controls.html') Form Controls
                        li
                            a(href='component-tables.html') Tables
                        li
                            a(href='component-modals.html') Modals
                        li
                            a(href='component-tabs.html') Tabs
                        li
                            a(href='component-paginations.html') Paginations
                        li
                            a(href='component-panels.html') Panels
                        li
                            a(href='component-progress-bars.html') Progress Bars
                        li
                            a(href='component-alerts.html') Alerts
        li.c-search-toggler-wrapper
            a.c-btn-icon.c-search-toggler(href='#')
                i.fa.fa-search
        li
            a.c-btn-border-opacity-04.c-btn.btn-no-focus.c-btn-header.btn.btn-sm.c-btn-border-1x.c-btn-dark.c-btn-circle.c-btn-uppercase.c-btn-sbold(href='javascript:;', data-toggle='modal', data-target='#login-form')
                i.icon-user
                |  Sign In
        li.c-quick-sidebar-toggler-wrapper
            a.c-quick-sidebar-toggler(href='#')
                span.c-line
                span.c-line
                span.c-line
