include ../_base
.page-logo
    a(href="#").logo-default#logo
        img(src=assetPath+"images/codex.png")
    .menu-toggler.sidebar-toggler

a(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse').menu-toggler.responsive-toggler

//.page-actions
    .btn-group
        +dropdown-button('Project', undefined, 'sm')
            +lia Themes
            +lia Modules
            +lia Codex
        +dropdown-button('Master', undefined, 'sm')
            +lia Master
            +lia 1.2.2
            +lia 1.2.1
            +lia 1.2.0
            +lia 1.1.0
            +lia 1.0.1
            +lia 1.0.0
