+sb-item('Home', '/index.html', 'fa fa-home').start

+sb-item('API', '/layout-api.html', 'fa fa-bitcoin')
+sb-item('Angular2', '/angular.html', 'fa fa-css3')
+sb-item('Document', '/doc.html', 'fa fa-file')
+sb-item('Chatter', '/chatter.html', 'fa fa-comment')

+sb-item('Components', 'javascript:;', 'fa fa-puzzle-piece color-teal-800', true)
    +sb-submenu
        +sb-item('Box', '/box.html')
        +sb-item('Bootstrap', '/bootstrap-components.html')
        +sb-item('Code block', '/code-block.html')
        +sb-item('Notifications', '/noty.html')
        +sb-item('Buttons', '/buttons.html')
        +sb-item('Forms', '/forms.html')
        +sb-item('Dropdowns', '/dropdowns.html')
        +sb-item('Labels & Badges', '/labels-badges.html')
        +sb-item('Breadcrumbs', '/breadcrumbs.html')
        +sb-item('Tables', '/tables.html')
        +sb-item('Navs', '/navs.html')

+sb-item('Documentation', 'javascript:;', 'fa fa-book color-teal-800', true)
    +sb-submenu
        +sb-item('Javascript', '/docs/packadic')
        +sb-item('Components', '/docs/components')
        +sb-item('SCSS', '/docs/ts')
//
    +sb-item('Themes', 'javascript:;', 'fa fa-pencil color-teal-800', true)
        +sb-submenu
            +sb-item('Alt sidebar', '/sdf.html')
            +sb-item('Alt sidebar 2', '/asf.html')
            +sb-item('Alt sidebar 3', '/sidebar-alt.html', 'fa fa-user')


    +sb-item('Documentation', 'javascript:;', 'fa fa-book color-teal-800', true)
        +sb-submenu
            +sb-item('Overview', '/docs')
            +sb-item('Guides', 'javascript:;', '', true)
                +sb-submenu
                    +sb-item('Configuration', '/guides-configuration.html')
                    +sb-item('Extending', '/guides-extending.html')
                    +sb-item('Styling', '/guides-styling.html')
                    +sb-item('Scripting', 'javascript:;', '', true)
                        +sb-submenu
                            +sb-item('Definitions', '/docs/guides-typescript-definitions.html')
            +sb-item('API Docs', 'javascript:;', '', true)
                +sb-submenu
                    +sb-item('Typescript Browser', '/docs/ts')
                    +sb-item('Typescript Node', '/docs/lib')
                    +sb-item('SCSS', '/docs/scss')

    +sb-item('Helpers', 'javascript:;', 'fa fa-list-alt', true)
        +sb-submenu
            +sb-item('Styler', '/styler.html', 'fa fa-pencil')
            +sb-item('Script Only', '/script-only.html', 'fa fa-pencil')

    +sb-item('Examples', 'javascript:;', 'fa fa-list-alt', true)
        +sb-submenu
            +sb-item('Themes', 'javascript:;', null, true)
                +sb-submenu
                    +sb-item('Light', '/theme-light.html')
            +sb-item('Layouts', 'javascript:;', null, true)
                +sb-submenu
                    +sb-item('Default', '/layout-default.html')
                    +sb-item('Boxed', '/layout-boxed.html')
                    +sb-item('Sidebar on right', '/layout-sidebar-right.html')
                    +sb-item('Sidebar fixed', '/layout-sidebar-fixed.html')
                    +sb-item('Sidebar Closed', '/layout-sidebar-closed.html')

            +sb-item('Multi-level', 'javascript:;', null, true)
                +sb-submenu
                    +sb-item('Item', 'javascript:;')
                    +sb-item('Item 2', 'javascript:;', null, true)
                        +sb-submenu
                            +sb-item('Item 2.0', 'javascript:;')
                            +sb-item('Item 2.1', 'javascript:;', null, true)
                                +sb-submenu
                                    +sb-item('Item 2.1.0', 'javascript:;')
                                    +sb-item('Item 2.1.1', 'javascript:;')
                                    +sb-item('Item 2.1.2', 'javascript:;')
                            +sb-item('Item 2.2', 'javascript:;')
                    +sb-item('Item 3', 'javascript:;')

    +sb-item('Contributing', '#', 'fa fa-code')

+sb-item('GitHub', 'https://github.com/packadic/framework', 'fa fa-git').last
