@import "../../bower_components/sass-material-colors/sass/sass-material-colors";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Order is very vely important
@import "functions";
@import "variables/main-variables";                             // main variables
@import "variables/overriding-variables";                       // variables that override default variables (like bootstrap variables)
@import "mixins";

@import "../../bower_components/font-awesome/scss/variables";
@import "../../bower_components/bootstrap/scss/variables";      // the local bootstrap-variables is just for quick reference. its not used
@import "variables/extending-variables";                        // extending variables that depends on other variables (like bootstrap)
@import "../../bower_components/bootstrap/scss/mixins";
@import "../../bower_components/font-awesome/scss/mixins";

@import "components/mixins/size";
@import "components/mixins/tables"; // component mixins should go after vendor(bootstrap) mixins, as they might replace/extend em
@import "components/mixins/loader";
@import "components/mixins/list-group";

// temp
//@import "variables/theme-variables";
