@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin opacity($value, $important: '') {
    opacity: $value #{$important};
    filter: alpha(opacity=#{$value * 100}) #{$important};
}

@mixin border-radius($radius, $important: '') {
    -webkit-border-radius: $radius#{$important};
    -moz-border-radius: $radius#{$important};
    -ms-border-radius: $radius#{$important};
    -o-border-radius: $radius#{$important};
    border-radius: $radius#{$important};
}

@function image_url($url) {
    @return url('../images/' + $url);
}

@mixin text-shadow($shadow...) {
    text-shadow: $shadow;
}
