@import "base";
@import "plugins/jstree2";

$type-link-color: brown;
$type-link-color-local: #3DBA73;

#codex-phpdoc {
    font-family: 'Source Code Pro', monospace, sans-serif;

    margin-top: -20px;
    #codex-phpdoc-menu {
        border-right: 1px solid #b0bec5;

    }

    #codex-phpdoc-content {
        font-size: 12px;
        padding-bottom: 20px;
        margin-left: 20px;
        .phpdoc-file-header {
            border-bottom: 1px solid #b0bec5;
            margin-bottom: 20px;
            margin-left: -20px;
            padding-left: 20px;
            padding-top: 10px;


            > i {
                line-height: 24px;
                font-size: 24px;

                padding-right: 20px;
                float: left;
            }

            > h3 {
                margin-top: 6px;
                margin-bottom: 17px;
                font-size: 16px;
            }


        }

        h4.doc-heading {
            border-bottom: 1px solid #b0bec5;
            padding-bottom: 10px;
        }

        h5.method-heading {


            .method-visibility {
                display: inline-block;
            }
            .param-name {
                color: material-color('purple', '700') ;
            }
            .param-default {
                color: material-color('purple', '400') ;

            }
        }

        .method-full-name{

        }

        .method-row {
            border-bottom: 1px dashed rgba(#b0bec5, 0.7);

        }
    }

    .type-link {
        font-family: 'Source Code Pro', monospace, sans-serif;
        color: $type-link-color;
        border-bottom: 1px dotted rgba($type-link-color, 0.64);
        padding: 0 0 2px 0;
        &:hover {
            cursor: default;
            text-decoration: none;
            color: lighten($type-link-color, 20%);
        }

        &.local {
            color: $type-link-color-local;
            &:hover {
                color: darken($type-link-color-local, 20%);
                cursor: pointer;
            }
        }
    }

    .simple-type {
        color: material-color('orange', '800');
        font-family: 'Source Code Pro', sans-serif;
    }

    .tooltip-inner{
        max-width: none;
    }
}
