////
/// Stylesheet main file
/// @group stylesheet
/// @author Robin Radic
////
// 1. Base
// 2. Bootstrap
// 3. Layout
// 4. Plugins
// 5. Components
// 6. Utilities
//
///**************************/
// 1. Base
///**************************/
//
@import "base";
@import url($web-font);
@import "../../bower_components/font-awesome/scss/font-awesome";
//
///**************************/
// 2. Bootstrap
///**************************/
//
// Reset and dependencies
@import "../../bower_components/bootstrap/scss/normalize";
@import "../../bower_components/bootstrap/scss/print";
// Core CSS
@import "../../bower_components/bootstrap/scss/reboot";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/images";
@import "../../bower_components/bootstrap/scss/code";
@import "../../bower_components/bootstrap/scss/grid";
@import "../../bower_components/bootstrap/scss/tables";
@import "../../bower_components/bootstrap/scss/forms";
@import "../../bower_components/bootstrap/scss/buttons";
// // Components
@import "../../bower_components/bootstrap/scss/animation";
@import "../../bower_components/bootstrap/scss/dropdown";
@import "../../bower_components/bootstrap/scss/button-group";
@import "../../bower_components/bootstrap/scss/input-group";
@import "../../bower_components/bootstrap/scss/custom-forms";
@import "../../bower_components/bootstrap/scss/nav";
@import "../../bower_components/bootstrap/scss/navbar";
@import "../../bower_components/bootstrap/scss/card";
@import "../../bower_components/bootstrap/scss/breadcrumb";
@import "../../bower_components/bootstrap/scss/pagination";
@import "../../bower_components/bootstrap/scss/pager";
@import "../../bower_components/bootstrap/scss/labels";
@import "../../bower_components/bootstrap/scss/jumbotron";
@import "../../bower_components/bootstrap/scss/alert";
@import "../../bower_components/bootstrap/scss/progress";
@import "../../bower_components/bootstrap/scss/media";
@import "../../bower_components/bootstrap/scss/list-group";
@import "../../bower_components/bootstrap/scss/responsive-embed";
@import "../../bower_components/bootstrap/scss/close";
// Components w/ JavaScript
@import "../../bower_components/bootstrap/scss/modal";
@import "../../bower_components/bootstrap/scss/tooltip";
@import "../../bower_components/bootstrap/scss/popover";
@import "../../bower_components/bootstrap/scss/carousel";
// Utility classes
@import "../../bower_components/bootstrap/scss/utilities";
@import "../../bower_components/bootstrap/scss/utilities-spacing";
@import "../../bower_components/bootstrap/scss/utilities-responsive";
//
///**************************/
// 3. Layout
///**************************/
//
@import 'layout/print';
@import 'layout/header';
@import 'layout/page-container';
@import 'layout/sidebar';
@import 'layout/content';
@import 'layout/footer';

.page-header {
    .page-logo > .logo-default {
        margin: 19px 10px 0 10px !important;
    }
}

//
///**************************/
// 4. Plugins
///**************************/
//
@import "plugins/noty";
@import "plugins/slimscroll";
@import "plugins/sass-material-colors-classes";
@import "plugins/mCustomScrollbar";
//@import "plugins/jstree2";
//@import "plugins/spectrum";
//@import "plugins/bootstrap3-editable";
//@import "plugins/bootstrap-switch";
//@import "plugins/bootstrap3-xeditable";
//@import "plugins/select2";

.bg-color-white {
    background-color: #ffffff !important;
}

.bg-color-black {
    background-color: #000000 !important;
}

//
///**************************/
// 5. Components
///**************************/
//
@import "components/grid";
@import "components/styler";
@import "components/loader";
@import "components/typography";
@import "components/list-group";
@import "components/code";
@import "components/dropdown";
@import "components/popover";
@import "components/buttons";
@import "components/navs";
@import "components/labels";
@import "components/tables";
@import "components/tooltip";
@import "components/code-block";
//@import "components/ibox";
@import "components/progressbar";

//@import "components/preferences";
//@import "components/quick_sidebar";
//@import "components/form-inputs-material";


//
///**************************/
// 6. Utilities
///**************************/
//
@import "utilities/positioning";
@import "scss-json";




.page-content-inner p {
    font-size: 14px;
}

.page-alerts {
    .alert {
        ul {
            list-style-type: none;
            padding-left: 10px;
        }
    }
}

.page-alerts.page-alerts-top {
    margin-left: -20px;
    margin-top: -10px;
}

.dropdown-auth {
    > a.dropdown-toggle {
        > i {
            font-size: 30px !important;
        }
        &:hover {
            background: transparent !important;
            > i {
                color: $color-primary !important;
            }
        }
        &:after {
            display: none;
        }
    }
    > ul.dropdown-menu {
        margin-top: 5px !important;
        margin-right: 5px !important;;
        &:before, &:after {
            border-bottom-color: #263238 !important;;
        }
    }
    .dropdown-item {
        padding-right: 40px;
    }
    .avatar {
        right: 11px;
        position: absolute;
        //top: 7px;
        width: 17px;
    }
}
