



@mixin reset-padmar() {
    padding: 0;
    margin: 0;
}

$header_transition: 0.2s;
// BEGIN: Mega Menu

// Desktop Mode
$mega-menu_desktop_1st-level-link-padding: 15px 15px;
$mega-menu_desktop_primary-link-font-size: 17px;
$mega-menu_desktop_classic-dropdown-menu-width: 235px;

$mega-menu_desktop_inner-dropdown-menu-head-font-size: 16px;
$mega-menu_desktop_inner-dropdown-menu-head-uppercase-font-size: 14px;

$mega-menu_desktop_inner-dropdown-menu-link-font-size: 14px;
$mega-menu_desktop_inner-dropdown-menu-link-uppercase-font-size: 12px;

$mega-menu_desktop_inner-tab-link-font-size: 16px;
$mega-menu_desktop_inner-tab-link-uppercase-font-size: 14px;

// Mega Menu
$header_desktop_mega-menu-primary-link-padding: 25px 25px 22px 25px;
$header_desktop_mega-menu-btn-margin: 18px 25px 7px 25px;
$header_desktop_mega-menu-btn-icon-margin: 8px 10px 0px 10px;
$header_desktop_mega-menu-quick-sidebar-toggler-padding: 28px 25px 15px 25px;

$header_desktop_min-header-mega-menu-primary-link-padding: 23px 15px 21px 15px;
$header_desktop_min-header_mega-menu-btn-margin: 15px 15px 16px 15px;
$header_desktop_min-header_mega-menu-btn-icon-margin: 6px 5px 7px 5px;
$header_desktop_min-header_mega-menu-quick-sidebar-toggler-padding: 26px 0 24px 15px;

$header_desktop_mega-menu-quick-search-close-icon-top: 35px;
$header_desktop_mega-menu-quick-search-close-icon-right: 8px;
$header_desktop_mega-menu-quick-search-form-control-padding: 20px 20px 20px 5px;

$mega-menu_desktop_primary-link-font-color: #ffffff;
$mega-menu_desktop_primary-link-font-color-on-hover: #ffffff;
$mega-menu_desktop_primary-link-font-color-on-active: #ffffff;

$header_desktop-bg-color: #2f353b;
$mega-menu_desktop_min-header-bg-color: $header_desktop-bg-color;
$mega-menu_desktop_min-header-primary-link-font-color: #ffffff;

// BEGIN: Desktop mode
$mega-menu-line-height: 20px;
$mega-menu-line-height-navbar: 20px;
@media (min-width: $screen-md-min) { /* 992px */
    // Main markup
    .c-mega-menu {
        line-height: $mega-menu-line-height;
        @include inline-block();
        @include reset-padmar();
        position: static;

        > .nav.navbar-nav {
            line-height: $mega-menu-line-height-navbar;
            background: none;
            position: static;
            margin: 0;
            padding: 0;

            > li {
                padding: 0;
                margin: 0;
                float: left;
                position: static;

                &.c-menu-type-classic {
                    position: relative;
                }

                // link
                > .c-link {
                    letter-spacing: 1px;
                    font-style: normal;
                    transition: all $header_transition;
                    padding: $header_desktop_mega-menu-primary-link-padding;
                    min-height: $header_height;
                    font-size: $mega-menu_desktop_primary-link-font-size;

                    &:hover,
                    &:focus {
                        background: none;
                    }
                }

                // Quick sidebar toggler

                > .c-quick-sidebar-toggler {
                    transition: all $header_transition;
                    display: inline-block;
                    background: none !important;
                    padding: $header_desktop_mega-menu-quick-sidebar-toggler-padding;

                    > .c-line {
                        width: 15px;
                        display: block;
                        height: 2px;
                        padding: 0px;
                        margin: 3px 0;

                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }

                // button
                > .c-btn {
                    transition: margin $header_transition;
                    margin: $header_desktop_mega-menu-btn-margin;

                    > i {
                        position: relative;
                        top: 1px;
                    }
                }

                // icon
                > .c-btn-icon {
                    background: none;
                    outline: none;
                    transition: margin $header_transition;
                    margin: $header_desktop_mega-menu-btn-icon-margin;

                    &:hover {
                        background: none;
                    }

                    > i {
                        position: relative;
                        top: 0px;
                        font-size: 14px;
                        height: 14px;

                        .ie & {
                            top: 2px;
                        }

                        .ie9 & {
                            top: 0px;
                        }
                    }
                }

                &.c-active,
                &:hover {
                    > .c-quick-sidebar-toggler,
                    > .c-btn-link,
                    > .c-link {
                        background: none;
                    }
                }

                // dropdown menu
                > .dropdown-menu {
                    width: auto;

                    .container-fluid & {
                        width: 1170px !important;
                    }

                    @include border-radius(0);

                    &,
                    &.c-pull-right {
                        right: 0;
                        left: auto;
                    }

                    &.c-pull-left {
                        left: 0;
                        right: auto;
                    }
                }

                // general dropdown menu
                .dropdown-menu {
                    box-shadow: none;

                    > li {
                        > h3 {
                            margin: 0;
                            letter-spacing: 1px;
                            padding: 10px 25px 10px 25px;
                            font-size: $mega-menu_desktop_inner-dropdown-menu-head-font-size;
                        }

                        > a {
                            padding: 8px 25px;
                            white-space: normal;
                            letter-spacing: 1px;
                            font-size: $mega-menu_desktop_inner-dropdown-menu-link-font-size;
                        }

                        &.dropdown-submenu {
                            > .dropdown-menu {
                                margin-top: -10px;
                            }
                        }
                    }
                }

                // full dropdown menu
                > .dropdown-menu.c-menu-type-fullwidth {
                    width: 100%;
                    left: 0;
                    right: 0;
                }

                // classic dropdown menu
                > .dropdown-menu.c-menu-type-classic {
                    left: auto;
                    right: auto;
                    min-width: $mega-menu_desktop_classic-dropdown-menu-width;
                    width: $mega-menu_desktop_classic-dropdown-menu-width;

                    &.c-pull-right {
                        right: 0;
                        left: auto;
                    }

                    .dropdown-menu {
                        @include border-radius(0);
                        min-width: $mega-menu_desktop_classic-dropdown-menu-width;
                        width: $mega-menu_desktop_classic-dropdown-menu-width;
                    }
                }

                // mega dropdown menu
                > .dropdown-menu.c-menu-type-mega {
                    padding: 0;

                    // mega menu sub dropdowns
                    .dropdown-menu {
                        float: none;
                        box-shadow: none !important;
                        background: none;
                        position: static;
                        display: block;

                        @include clearfix();
                    }

                    // set separator border for inline dropdown menus
                    > .row {
                        margin: 0 0;

                        > div {
                            padding: 0;

                            &:last-child {
                                border-right: 0;
                            }
                        }
                    }

                    // mega menu inline dropdown menu
                    .c-menu-type-inline {
                        margin: 10px 0;
                    }

                    // mega menu tabs
                    .nav.nav-tabs {
                        padding: 20px 40px;

                        > li {
                            margin: 0 15px;

                            &:first-child {
                                margin-left: 0;
                            }

                            > a {
                                margin: 0;
                                padding: 7px 0;
                                border: 0;
                                background: none;
                                font-size: $mega-menu_desktop_inner-tab-link-font-size;
                            }
                        }
                    }

                    // mega menu tab contents
                    .tab-content {
                        padding: 0;
                        margin: 0 15px;
                    }

                    // mega menu adjusted list mode(instead of bootstrap grid system)
                    > li {
                        display: table-cell;
                        width: 1%;

                        // set separator border for inline dropdown menus
                        .dropdown-menu.c-menu-type-inline {
                            @include border-radius(0);
                            margin: 0;
                            padding: 15px 0;
                        }

                        > .dropdown-menu {
                            float: none;
                        }
                    }
                }

                // display dropdown menu on hover
                &:hover {
                    > .dropdown-menu {
                        display: block;
                    }
                }
            }

            // visible on desktop mode
            .c-visible-mobile {
                display: none !important;
            }
        }

        // hide when full view quick search is shown
        .c-layout-quick-search-shown & {
            display: none;
        }

    }

    // Full width header
    .container-fluid > .c-navbar-wrapper > .c-mega-menu {
        > .nav.navbar-nav {
            > li {
                > .dropdown-menu.c-menu-type-mega {
                    max-width: 1170px;
                    width: 1170px;
                    right: 20px;
                    left: auto;
                }
            }
        }
    }

    // Font options
    .c-mega-menu {
        line-height: $mega-menu-line-height;

        // Uppercase font
        &.c-fonts-uppercase > .nav.navbar-nav > li {
            // general link
            > .c-link {
                font-size: 15px;
                text-transform: uppercase;
            }

            // general dropdown menu
            .dropdown-menu {
                > li {
                    > h3 {
                        font-size: $mega-menu_desktop_inner-dropdown-menu-head-uppercase-font-size;
                        text-transform: uppercase;
                    }

                    > a {
                        font-size: $mega-menu_desktop_inner-dropdown-menu-link-uppercase-font-size;
                        text-transform: uppercase;
                    }
                }
            }

            // dropdown menu tabs
            > .dropdown-menu.c-menu-type-mega .nav.nav-tabs > li > a {
                font-size: $mega-menu_desktop_inner-tab-link-uppercase-font-size;
                text-transform: uppercase;
            }
        }

        // Bold font
        &.c-fonts-bold > .nav.navbar-nav > li {
            // general link
            > .c-link {
                font-weight: 600;
            }

            // general dropdown menu
            .dropdown-menu {
                > li {
                    > h3 {
                        font-weight: 500;
                    }

                    > a {
                        font-weight: 500;
                    }
                }
            }

            // dropdown menu tabs
            > .dropdown-menu.c-menu-type-mega .nav.nav-tabs > li > a {
                font-weight: 600;
            }
        }
    }
}

// BEGIN: Mega Menu

$mega-menu_class: 'dark';

// Desktop Mode
$mega-menu_desktop_separator-border-color: #32373d;
$mega-menu_desktop_primary-dropdown-menu-bg-color: #2c3137;
$mega-menu_desktop_primary-dropdown-menu-box-shadow: none;
$mega-menu_desktop_primary-dropdown-menu-border: 0;

$mega-menu_desktop_inner-dropdown-menu-head-color: #cbd2d9;
$mega-menu_desktop_inner-dropdown-menu-link-color: #7d8691;
$mega-menu_desktop_inner-dropdown-menu-link-color-on-active: #ff6b57;
$mega-menu_desktop_inner-dropdown-menu-link-bg-color-on-active: #292e33;

$mega-menu_desktop_inner-tab-link-color: #cbd2d9;
$mega-menu_desktop_inner-tab-link-color-on-active: #ffffff;
$mega-menu_desktop_inner-tab-border-color: #434b53;

@media (min-width: $screen-md-min) { /* 992px */
    // Main markup
    .c-mega-menu.c-mega-menu-#{$mega-menu_class} {
        > .nav.navbar-nav {
            > li {
                // dropdown menu
                > .dropdown-menu {
                    background: $mega-menu_desktop_primary-dropdown-menu-bg-color;
                    box-shadow: $mega-menu_desktop_primary-dropdown-menu-box-shadow;
                    border: $mega-menu_desktop_primary-dropdown-menu-border;
                }

                // general dropdown menu
                .dropdown-menu {
                    border-radius: 0;

                    > li {
                        > h3 {
                            color: $mega-menu_desktop_inner-dropdown-menu-head-color;
                        }

                        > a {
                            color: $mega-menu_desktop_inner-dropdown-menu-link-color;

                            &:hover,
                            &:focus {
                                background: none;
                                color: $mega-menu_desktop_inner-dropdown-menu-link-color;
                            }
                        }

                        &.c-active > a,
                        &:hover > a {
                            background: $mega-menu_desktop_inner-dropdown-menu-link-bg-color-on-active;
                            color: $mega-menu_desktop_inner-dropdown-menu-link-color-on-active;
                        }
                    }
                }
                // classic dropdown menu
                > .dropdown-menu.c-menu-type-classic {
                    .dropdown-menu {
                        background: $mega-menu_desktop_primary-dropdown-menu-bg-color;
                    }
                }

                // mega dropdown menu
                > .dropdown-menu.c-menu-type-mega {
                    // set separator border for inline dropdown menus
                    > .row {
                        > div {
                            border-right: 1px solid $mega-menu_desktop_separator-border-color;
                        }
                    }

                    // mega menu tabs
                    .nav.nav-tabs {
                        border-bottom: 1px solid $mega-menu_desktop_inner-tab-border-color;
                        > li {
                            > a {
                                color: $mega-menu_desktop_inner-tab-link-color;
                            }

                            &:hover {
                                > a {
                                    color: $mega-menu_desktop_inner-tab-link-color-on-active;
                                }
                            }

                            &.active {
                                > a {
                                    color: $mega-menu_desktop_inner-tab-link-color-on-active;
                                }
                                border-bottom: 1px solid $mega-menu_desktop_inner-tab-link-color-on-active;
                            }
                        }
                    }

                    // mega menu adjusted list mode(instead of bootstrap grid system)
                    > li {
                        // set separator border for inline dropdown menus
                        .dropdown-menu.c-menu-type-inline {
                            border-right: 1px solid $mega-menu_desktop_separator-border-color;
                        }
                    }
                }
            }
        }
    }
}
